<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/showcase.css">
    <title>Carrinho | Flash</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="image/logo.svg" alt="Flash" id="logo">

            <ul>
                <li>Sobre</li>
                <li>Produtos</li>
                <li>Contatos</li>
            </ul>

            <div class="car"><i class="produtos__icone fas fa-shopping-cart"></i></div>
        </header>
    </div><!--container-->

    <main>

    </main>
    <footer>
        <div class="links">
            <div class="redes">
                <p>Flasy nas Redes Sociais</p>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div><!--links-->

        <div class="appStore">
            <i class="fab fa-apple"></i>
            <p>Disponível na AppStore</p>
        </div>

        <div class="playStore">
            <i class="fab fa-google-play"></i>
            <p>Disponível no Google Play</p>
        </div>
    </footer>
</body>
</html>