<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="icon" href="/image/logo.svg">
    <title>Flash - sua entrega VIP</title>
</head>
<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img id="logo" src="/image/logo.svg" alt="Logo da Aplicação">
                <h1>Flash</h1>
            </header>

            <main>
                <h1>Entregas em até 3 horas úteis!</h1>

                <section class="proposal">
                    <p>Faça suas compras nas Lojas Renner dentro de sua proximidade e será entregue em até 3 horas úteis.</p>
                    <a href="/login" title="Entrar">
                        <img src="/image/arrow.svg" alt="">
                    </a>
                </section>
            </main>


        </div><!--container-->
    </div><!--page-landing-->
</body>
</html>