<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/showcase.css">
    <link rel="icon" href="/image/logo.svg">
    <title>Vitrine | Flash</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="image/logo.svg" alt="Flash" id="logo">

            <ul>
                <li>Sobre</li>
                <li>Produtos</li>
                <li>Contatos</li>
            </ul>

            <a href="#" class="car"><i class="produtos__icone fas fa-shopping-cart"></i></a>
        </header>
    </div><!--container-->

    <main>
        <div class="banner">
            <h1>Produtos com até 70% OFF</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div><!--banner-->

        <div class="destaques">
            <div class="destaque">
                <img src="image/card1.png" alt="">
            </div><!--destaque-->
            <div class="destaque">
                <img src="image/card2.png" alt="">
            </div><!--destaque-->
        </div><!--destaques-->

        <div class="container">
            <div class="cards">
                <div class="card">
                    <img src="image/produto1.png" alt="">
                    <div class="content">
                        <h1>Produto 01</h1>
                        <h2>R$ 25,99</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                            100
                        </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->

                <div class="card">
                    <img src="image/produto2.png" alt="">
                    <div class="content">
                        <h1>Produto 02</h1>
                        <h2>R$ 60,00</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                            85
                        </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->

                <div class="card">
                    <img src="image/produto3.png" alt="">
                    <div class="content">
                        <h1>Produto 03</h1>
                        <h2>R$ 142,00</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                             175
                        </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->

                <div class="card">
                    <img src="image/produto4.png" alt="">
                    <div class="content">
                        <h1>Produto 04</h1>
                        <h2>R$ 99,00</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                            42
                        </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->

                <div class="card">
                    <img src="image/produto5.png" alt="">
                    <div class="content">
                        <h1>Produto 05</h1>
                        <h2>R$ 44,60</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                            101
                            </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->

                <div class="card">
                    <img src="image/produto6.png" alt="">
                    <div class="content">
                        <h1>Produto 06</h1>
                        <h2>R$ 74,90</h2>
                    </div><!--content-->

                    <div class="estoque">
                        <p class="qnt_estoque">
                            <i class="produtos__icone fas fa-tags"></i>
                            212
                            </p>

                        <button class="button_add_car">
                            <i class="produtos__icone fas fa-shopping-cart"></i>
                            Adicionar
                        </button>
                    </div><!--estoque-->
                </div><!--card-->
            </div><!--cards-->
        </div><!--container-->
    </main>

    <footer>
        <div class="links">
            <div class="redes">
                <p>Flasy nas Redes Sociais</p>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div><!--links-->

        <div class="appStore">
            <i class="fab fa-apple"></i>
            <p>Disponível na AppStore</p>
        </div>

        <div class="playStore">
            <i class="fab fa-google-play"></i>
            <p>Disponível no Google Play</p>
        </div>
    </footer>
</body>
</html>