body{
    background-color: rgb(241, 241, 241);
}

#car-item{
    width: 80%;
    height: 100vh;
    display: flex;
    margin: 15px auto;
    gap: 10px;
}

.items{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
}

.product-selected{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;

    gap: 10px;
}

.product-selected .product {
    width: 60%;
    height: 330px;
    display: flex;
}

.product-selected .product .product-principal{
    height: 330px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.product-selected .miniature{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-selected .miniature button:first-child{
    margin-top: 0;
}

.product-selected .miniature button{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    height: 80px;
    width: 80px;
    margin-top: 8px;
    cursor: pointer;
}


.product-selected .miniature button img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.product-selected .infos{
    max-width: 250px;
    font-size: 13px;
    color: #141414;
}

.price-freight{
    width: 40%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}

.price-freight .price-product{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 50px;

}

.price-freight .freight{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 35px;
}

.price-freight .total{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.price-freight button{
    width: 150px;
    height: 35px;
    border: 1px solid #e64e44;
    background-color: #b1140a;
    color: white;
    border-radius: 15px;
    margin: 28px auto 0 auto;
    cursor: pointer;
    transition: 600ms;
}

.price-freight button:hover{
    transition: 600ms;
    background-color: #b1150ad0;
}






